<h1>{{ $ctrl.hello }}</h1>
<hr>
<!-- DATA-NG-MODEL: DATA é usado para validar o código na W3C mas pode se usar somente NG-MODEL -->
<!-- $CTRL: Equivalente ao SCOPE do controller -->
<label>Nome</label>
<input type="text" data-ng-model="$ctrl.person.name"> 
<label>Sobrenome</label>
<input type="text" data-ng-model="$ctrl.person.lastname">

<input type="number" data-ng-model="num1"/>
<input type="number" data-ng-model="num2">

<input type="submit" data-ng-click="$ctrl.sumFactory(num1, num2)" value="Soma">
<input type="submit" data-ng-click="$ctrl.subFactory(num1, num2)" value="Subtração">

<input type="submit" data-ng-click="$ctrl.sumService(num1, num2)" value="Soma">
<input type="submit" data-ng-click="$ctrl.subService(num1, num2)" value="Subtração">

<!-- Exibindo os dados -->
{{ $ctrl.person.name }}
{{ $ctrl.person.lastname }}

<!-- Exemplo com a diretiva ng-repeat -->
<ul>
	<li data-ng-repeat="item in $ctrl.list">
		<p> {{ item.name}} </p>
		<p data-ng-bind="item.lastname"></p>
	</li> 
</ul>

<app-directive name="Paulo Cesar", lastname="Ferreira de Mello"></app-directive>
<!-- ou -->
<!-- <div app-directive></div> -->
